header {
    background-color: #ffffff;
    height: 75px;

    /* Bordar: */
    box-shadow: 1px 4px 4px 0px #00000045;
    position: relative;
}

.nav_header {
    margin-top: 30px;
    margin-left: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.Adiminimage {

 
    margin-top: 20px;
}

.Event_img {
    width: 150px;
    margin-top: 30px;


}

.Adiminimage {
    height: 26px;
    width: 29px;
    margin-bottom: 50px;
    margin-left: 10px;

}

.admin {
    color: #000000;
   margin-right: 200px;
}

.link_header {
    margin-left: 45px;

    color: #000000;
    text-decoration: none;
}



@media screen and (max-width: 768px) {
    .cabecalho img {
        height: 35px;
    }

    .link_header {
        margin-left: 10px;
    }
    .nav_header{
        display: none;
    }
}